[Unit]
Description=Setup after booted up and network active
After=pacman-init.service
Wants=pacman-init.service network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/post-setup

[Install]
WantedBy=multi-user.target
