[Unit]
Description=Post setup mechanism
After=pacman-init.service
Requires=pacman-init.service
BindsTo=pacman-init.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/post-setup

[Install]
WantedBy=multi-user.target
